In [1]:
import numpy as np
import pandas as pd
import os

def statistics(arr, correct=True, order=1):
    if correct:
        arr = np.delete(arr, 2, axis=1) # delete cifar10 eval result
    if order == 2: # using order II
        order = [9, 6, 7, 8, 5, 10, 0, 1, 3, 4, 2]
        arr = arr[:, order]
        arr = arr[order, :]
    
    df = pd.DataFrame(arr)
    display(df)
    
    avg = arr.mean(axis=0)
    last = np.array(arr[-1, :])
    transfer = np.array([np.mean([arr[j, i] for j in range(i)]) for i in range(1, 11)])
    
    g = lambda x: np.around(x.mean(), decimals=1)
    f = lambda x: ' & '.join([str(x) for x in np.around(x, decimals=1).tolist()])
    
    print("transfer: ", g(transfer))
    print("avg: ", g(avg))
    print("last: ", g(last))
    
    print("transfer: ", f(transfer))
    print("avg: ", f(avg))
    print("last: ", f(last))
    
def visualize(name, order=1):
    result = np.load(os.path.join("results", name))
    result = result.reshape(11,-1)
    statistics(result, order=order)

### Include ImageNet when Training with WC and LwF

In [2]:
visualize("./exp_wc_fair.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,1.770177,74.481567,45.47,36.436170,39.648148,4.732477,35.445545,39.87,16.244208,30.257431,56.310055
1,0.990099,62.039171,25.90,22.978723,33.166667,2.862254,19.659406,65.80,13.082584,6.703146,23.125374
2,0.960096,36.175115,13.55,16.436170,23.388889,2.130428,9.172277,52.59,9.648406,3.693570,11.475334
3,0.690069,38.536866,21.47,16.648936,9.666667,4.342169,12.574257,47.62,12.101390,5.521701,14.403935
4,0.720072,43.778802,17.60,15.212766,3.370370,7.985038,10.859406,32.87,14.445353,3.656262,15.967082
5,2.040204,35.195853,8.88,7.819149,10.796296,1.707595,7.073267,43.44,12.373944,2.959831,10.771919
6,1.380138,40.725806,12.89,11.648936,15.000000,1.349813,9.184158,51.44,15.944399,2.910086,13.047676
7,1.440144,19.297235,2.05,8.297872,12.574074,0.992031,3.398020,10.12,3.161624,1.019774,9.043262
8,1.110111,40.149770,13.10,6.808511,12.518519,0.845666,7.192079,8.11,4.142818,2.362890,13.314330
9,1.350135,44.124424,16.20,6.808511,12.425926,0.764352,9.635644,18.97,6.650313,0.820793,15.875132
10,0.930093,33.928571,12.25,7.074468,13.592593,1.366076,8.249505,34.84,5.342055,1.280935,0.836743

transfer:  26.7
avg:  16.0
last:  10.9
transfer:  74.5 & 35.7 & 25.3 & 26.5 & 4.4 & 15.8 & 47.7 & 12.1 & 6.6 & 18.3
avg:  1.2 & 42.6 & 17.2 & 14.2 & 16.9 & 2.6 & 12.0 & 36.9 & 10.3 & 5.6 & 16.7
last:  0.9 & 33.9 & 12.2 & 7.1 & 13.6 & 1.4 & 8.2 & 34.8 & 5.3 & 1.3 & 0.8

In [3]:
visualize("./exp_lwf_fair.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,1.050105,15.034562,2.58,5.319149,5.833333,0.487884,1.627723,8.92,3.079858,0.584504,4.225093
1,1.050105,11.059908,12.69,17.606383,11.222222,3.561555,14.673267,21.45,16.625784,2.375326,11.484529
2,1.080108,8.640553,10.44,13.085106,12.944444,4.244593,9.984158,35.16,10.602344,2.250964,7.208864
3,1.770177,15.437788,18.00,8.351064,25.981481,5.090259,14.586139,19.41,19.133279,2.449944,14.601628
4,1.500150,7.200461,5.76,5.000000,6.333333,3.659132,9.398020,11.19,12.673753,2.499689,5.618132
5,1.620162,11.981567,8.50,9.042553,6.981481,1.610018,9.077228,20.93,23.521395,2.636488,9.751276
6,2.100210,14.861751,6.80,8.510638,14.444444,1.366076,7.516832,15.74,22.294903,2.338018,11.342007
7,0.990099,0.921659,1.13,3.351064,19.629630,1.463653,1.001980,10.12,3.570455,0.360652,0.275849
8,1.110111,0.691244,0.79,4.095745,7.092593,1.333550,1.370297,10.10,3.488689,0.609377,1.397637
9,0.930093,2.764977,0.98,2.606383,3.203704,1.919011,1.085149,10.10,2.807304,0.385524,2.183808
10,0.750075,1.843318,0.60,1.595745,9.055556,0.536673,2.110891,10.54,5.778141,0.708867,0.202290

transfer:  10.3
avg:  7.1
last:  3.1
transfer:  15.0 & 7.6 & 12.0 & 14.0 & 3.4 & 9.9 & 19.0 & 13.9 & 1.8 & 6.8
avg:  1.3 & 8.2 & 6.2 & 7.1 & 11.2 & 2.3 & 6.6 & 15.8 & 11.2 & 1.6 & 6.2
last:  0.8 & 1.8 & 0.6 & 1.6 & 9.1 & 0.5 & 2.1 & 10.5 & 5.8 & 0.7 & 0.2

## Table 3. Comparison of different methods on MTIL

In [2]:
# Zero-shot
a = [24.3, 88.4, 0.0, 68.2, 44.6, 54.9, 71.0, 88.5, 59.4, 89.0, 64.7, 65.2]
a = np.array(a)
a = np.repeat(a[np.newaxis, :], 11, axis=0)
statistics(a)

      0     1     2     3     4     5     6     7     8     9     10
0   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
1   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
2   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
3   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
4   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
5   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
6   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
7   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
8   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
9   24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2
10  24.3  88.4  68.2  44.6  54.9  71.0  88.5  59.4  89.0  64.7  65.2

transfer:  69.4
avg:  65.3
last:  65.3
transfer:  88.4 & 68.2 & 44.6 & 54.9 & 71.0 & 88.5 & 59.4 & 89.0 & 64.7 & 65.2
avg:  24.3 & 88.4 & 68.2 & 44.6 & 54.9 & 71.0 & 88.5 & 59.4 & 89.0 & 64.7 & 65.2
last:  24.3 & 88.4 & 68.2 & 44.6 & 54.9 & 71.0 & 88.5 & 59.4 & 89.0 & 64.7 & 65.2

In [3]:
# Continual learning
visualize("./t3_1.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,62.616262,67.108295,42.96,30.797872,45.962963,46.202635,64.233663,43.06,69.283183,26.601169,51.827502
1,15.691569,93.375576,49.00,31.329787,36.203704,32.883396,60.510891,48.02,65.794494,15.831364,51.216036
2,24.422442,90.380184,88.78,34.148936,36.314815,32.541877,57.833663,46.26,73.262469,22.882726,54.613581
3,25.982598,89.631336,78.92,76.914894,24.000000,34.607253,60.851485,49.12,70.128100,23.355304,52.549308
4,22.652265,88.076037,70.56,68.989362,98.814815,28.785168,49.227723,41.44,60.043609,21.862952,46.641534
5,22.862286,88.076037,70.77,69.680851,98.462963,96.064401,53.702970,39.00,64.568002,22.559383,48.287435
6,27.422742,90.207373,76.69,72.500000,97.962963,89.299073,92.146535,41.84,73.453257,35.828877,57.123810
7,2.280228,33.928571,4.89,20.000000,21.759259,11.074972,7.865347,99.59,10.248024,2.350454,17.976185
8,17.881788,80.645161,43.92,51.276596,74.148148,61.977557,80.554455,99.60,93.322431,13.244621,39.446462
9,27.302730,85.426267,57.25,61.808511,89.648148,65.783054,82.530693,99.51,93.240665,87.613481,46.218565
10,31.023102,89.285714,65.83,67.340426,88.944444,71.084729,85.560396,99.55,92.913600,77.254073,81.141097

transfer:  44.6
avg:  55.9
last:  77.3
transfer:  67.1 & 46.0 & 32.1 & 35.6 & 35.0 & 57.7 & 44.1 & 60.8 & 20.5 & 46.6
avg:  25.5 & 81.5 & 59.1 & 53.2 & 64.7 & 51.8 & 63.2 & 64.3 & 69.7 & 31.8 & 49.7
last:  31.0 & 89.3 & 65.8 & 67.3 & 88.9 & 71.1 & 85.6 & 99.6 & 92.9 & 77.3 & 81.1

In [4]:
# LwF
visualize("./t3_2.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,50.555056,74.539171,56.19,38.829787,55.611111,56.838510,78.447525,58.65,79.885527,37.346101,60.231713
1,44.614461,91.474654,57.68,37.765957,49.777778,54.415352,78.479208,59.90,79.503952,35.828877,62.061514
2,43.714371,90.841014,88.68,40.691489,48.388889,49.878029,71.893069,60.35,82.393023,38.253949,62.512068
3,44.344434,90.956221,87.50,77.765957,50.592593,53.553423,72.411881,61.83,83.210684,37.433155,61.160406
4,43.684368,90.495392,85.36,76.542553,98.722222,48.365588,68.091089,63.32,81.384573,33.130208,57.436440
5,40.144014,90.668203,84.58,74.627660,98.759259,95.560254,67.378218,59.20,75.115835,29.449073,55.965243
6,40.204020,90.437788,85.18,73.563830,98.037037,90.665149,90.241584,61.13,80.512401,37.072503,60.935129
7,14.971497,79.896313,56.27,44.202128,76.685185,22.458936,48.946535,99.63,38.920687,7.337396,38.982116
8,28.832883,85.023041,59.30,58.351064,79.129630,57.066190,76.685149,99.63,93.458708,17.137172,48.549492
9,22.412241,84.562212,59.49,59.787234,74.703704,63.750203,73.283168,99.53,93.022622,71.035941,51.330973
10,26.252625,87.500000,71.87,66.648936,79.907407,66.905188,83.770297,99.57,92.095939,66.111180,80.364121

transfer:  56.9
avg:  64.7
last:  74.6
transfer:  74.5 & 56.9 & 39.1 & 51.1 & 52.6 & 72.8 & 60.6 & 75.1 & 30.3 & 55.9
avg:  36.3 & 86.9 & 72.0 & 59.0 & 73.7 & 60.0 & 73.6 & 74.8 & 80.0 & 37.3 & 58.1
last:  26.3 & 87.5 & 71.9 & 66.6 & 79.9 & 66.9 & 83.8 & 99.6 & 92.1 & 66.1 & 80.4

In [5]:
# iCaRL
visualize("./t3_3.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,52.805281,56.566820,34.68,22.021277,29.129630,24.735729,36.958416,43.62,62.469338,14.363885,42.522183
1,33.453345,91.820276,54.50,35.797872,45.240741,47.292243,71.203960,41.34,79.749250,25.083945,58.388120
2,33.453345,93.778802,88.55,40.265957,42.592593,54.610506,76.031683,46.49,79.231398,31.501057,62.438509
3,33.603360,92.511521,78.19,78.244681,40.333333,57.342657,75.904950,58.43,79.967294,34.013182,63.013195
4,31.503150,91.877880,77.82,70.797872,98.722222,48.951049,71.841584,51.52,74.107386,32.707375,62.250011
5,33.963396,91.935484,77.23,72.446809,83.574074,94.454383,76.293069,49.77,80.730444,36.487999,63.969473
6,34.683468,92.684332,76.96,70.478723,83.296296,91.640917,92.067327,31.18,83.047152,40.840691,65.100455
7,33.663366,92.108295,76.90,67.712766,83.407407,80.419580,89.897030,99.52,79.858272,33.192389,62.521263
8,34.233423,92.626728,75.83,69.095745,83.648148,90.827777,89.318812,92.59,94.467157,38.925507,62.272999
9,33.693369,91.762673,77.09,70.053191,83.129630,90.713937,90.463366,83.97,93.322431,85.175973,62.760333
10,35.763576,93.029954,76.98,70.212766,83.277778,88.485933,90.411881,86.68,93.240665,81.171496,81.862903

transfer:  50.4
avg:  65.7
last:  80.1
transfer:  56.6 & 44.6 & 32.7 & 39.3 & 46.6 & 68.0 & 46.0 & 77.4 & 31.9 & 60.5
avg:  35.5 & 89.2 & 72.2 & 60.6 & 68.8 & 70.0 & 78.2 & 62.3 & 81.8 & 41.2 & 62.5
last:  35.8 & 93.0 & 77.0 & 70.2 & 83.3 & 88.5 & 90.4 & 86.7 & 93.2 & 81.2 & 81.9

In [6]:
# LwF-VR
visualize("./t3_4.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,42.964296,77.073733,60.36,41.861702,58.277778,62.254025,81.500990,46.03,82.256746,42.569332,63.082157
1,37.863786,91.935484,61.74,40.531915,49.870370,57.554074,81.572277,51.24,80.539657,42.146499,64.466002
2,37.113711,90.841014,89.21,39.202128,37.888889,52.252399,74.407921,50.60,79.967294,43.029474,64.047630
3,35.943594,90.610599,88.54,77.446809,35.092593,52.512604,74.542574,46.27,81.166530,42.444970,62.856880
4,35.223522,90.552995,86.77,75.851064,98.907407,47.471134,68.297030,49.78,79.640229,39.422957,60.222519
5,32.373237,90.552995,85.71,76.063830,98.888889,95.787933,67.445545,43.29,77.296266,39.248850,59.358190
6,35.793579,90.495392,85.77,75.106383,98.351852,91.348187,91.702970,48.14,80.675933,44.260664,63.509724
7,9.690969,80.299539,58.36,42.606383,69.222222,36.688893,62.407921,99.66,51.785228,9.837085,42.545170
8,21.962196,85.541475,61.66,58.670213,78.666667,60.985526,79.600000,99.59,93.622240,23.405049,50.976967
9,16.711671,87.384793,67.51,59.095745,85.759259,68.629045,80.011881,99.56,93.077133,81.246114,55.280217
10,20.492049,89.804147,72.34,67.606383,85.518519,73.800618,85.651485,99.61,93.104388,73.336650,80.883638

transfer:  57.2
avg:  65.1
last:  76.6
transfer:  77.1 & 61.0 & 40.5 & 45.3 & 54.4 & 74.6 & 47.9 & 76.7 & 36.3 & 58.6
avg:  29.6 & 87.7 & 74.4 & 59.5 & 72.4 & 63.6 & 77.0 & 66.7 & 81.2 & 43.7 & 60.7
last:  20.5 & 89.8 & 72.3 & 67.6 & 85.5 & 73.8 & 85.7 & 99.6 & 93.1 & 73.3 & 80.9

In [7]:
# WiSE-FT
visualize("./t3_5.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,62.496250,73.502304,54.01,35.851064,45.777778,51.536835,74.800000,46.88,80.594167,33.913692,57.523792
1,26.072607,94.758065,57.10,35.744681,38.574074,47.357294,72.918812,54.65,76.996457,28.578535,56.654866
2,26.252625,92.050691,88.69,35.212766,42.148148,47.682550,66.518812,52.13,76.233306,30.605646,58.273183
3,28.802880,91.417051,84.32,78.670213,39.388889,45.259392,70.459406,58.29,79.367675,28.740206,56.884741
4,25.412541,90.668203,75.68,73.457447,98.777778,43.226541,61.611881,55.01,69.392205,27.459271,51.634408
5,22.862286,90.322581,74.80,73.191489,98.370370,96.454708,63.291089,54.70,70.427910,28.740206,52.089559
6,27.632763,91.301843,80.04,72.978723,97.833333,92.031225,92.075248,55.39,74.897792,36.177092,59.592662
7,7.440744,63.076037,16.28,34.202128,27.666667,17.580094,29.413861,99.63,26.492232,8.008954,30.734219
8,14.821482,84.965438,46.91,56.595745,61.462963,60.546430,79.635644,99.57,93.594985,19.027484,44.531286
9,25.082508,88.652074,61.75,63.244681,85.425926,70.141486,83.702970,99.53,93.622240,87.103594,50.990759
10,27.152715,90.841014,68.03,68.882979,86.888889,73.995772,87.596040,99.58,92.559280,77.751523,81.334192

transfer:  52.3
avg:  60.7
last:  77.7
transfer:  73.5 & 55.6 & 35.6 & 41.5 & 47.0 & 68.3 & 53.9 & 69.3 & 26.8 & 51.9
avg:  26.7 & 86.5 & 64.3 & 57.1 & 65.7 & 58.7 & 71.1 & 70.5 & 75.8 & 36.9 & 54.6
last:  27.2 & 90.8 & 68.0 & 68.9 & 86.9 & 74.0 & 87.6 & 99.6 & 92.6 & 77.8 & 81.3

In [8]:
# ZSCL*
visualize("./t3_6.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,63.486349,78.283410,61.52,41.117021,48.462963,61.261994,83.453465,51.52,80.403380,42.432533,62.429314
1,56.105611,92.972350,66.57,43.670213,40.277778,64.693446,84.653465,57.17,82.447533,47.419475,65.996966
2,55.535554,92.741935,88.73,43.989362,47.611111,62.920800,84.970297,58.12,82.883620,47.979107,66.842904
3,55.265527,92.914747,87.76,77.925532,44.462963,66.124573,84.760396,57.78,86.208776,49.707748,66.645212
4,54.485449,92.914747,85.81,76.436170,98.462963,62.725646,83.100990,57.99,82.474789,46.760353,65.486644
5,53.465347,92.511521,85.48,76.542553,98.074074,97.674419,84.221782,55.55,83.183429,47.879617,66.626822
6,53.045305,92.338710,84.97,75.585106,98.074074,96.080664,92.586139,54.72,83.292450,51.709986,67.918716
7,34.233423,89.055300,75.09,57.500000,88.574074,66.319727,87.120792,99.65,50.449714,24.375078,55.018160
8,42.364236,91.244240,79.49,66.755319,91.907407,87.461376,90.130693,99.60,94.439902,38.950379,61.371891
9,44.194419,92.453917,80.69,70.372340,93.222222,92.437795,90.887129,99.58,93.867539,88.372093,65.146430
10,45.964596,92.281106,81.16,72.446809,93.018519,92.128801,90.831683,99.59,93.349687,86.631016,81.660613

transfer:  62.2
avg:  72.6
last:  84.5
transfer:  78.3 & 64.0 & 42.9 & 45.2 & 63.5 & 84.2 & 56.1 & 78.9 & 44.1 & 64.3
avg:  50.7 & 90.9 & 79.8 & 63.8 & 76.6 & 77.3 & 87.0 & 71.9 & 83.0 & 52.0 & 65.9
last:  46.0 & 92.3 & 81.2 & 72.4 & 93.0 & 92.1 & 90.8 & 99.6 & 93.3 & 86.6 & 81.7

In [9]:
# ZSCL
visualize("./t3_7.npy")

,0,1,2,3,4,5,6,7,8,9,10
0,55.115512,86.002304,66.33,44.893617,49.240741,70.564319,88.336634,53.58,87.380758,61.298346,65.679739
1,48.874887,94.182028,68.55,44.680851,50.444444,66.970239,87.631683,55.19,85.009539,61.012312,65.937198
2,47.134713,93.145161,86.20,46.489362,50.129630,68.840462,87.702970,63.43,87.598801,60.564606,67.445175
3,47.014701,93.836406,84.99,76.170213,51.740741,69.946333,87.774257,65.87,88.389207,61.211292,67.150936
4,46.144614,92.799539,83.97,75.000000,97.759259,69.084404,87.148515,67.56,87.980376,60.303445,67.086571
5,43.774377,92.511521,83.21,73.457447,97.240741,96.340868,87.104950,63.30,86.481330,58.835966,66.852099
6,44.344434,92.223502,82.89,71.223404,96.777778,93.755082,92.201980,63.47,87.271736,60.266136,67.914119
7,41.944194,91.935484,80.48,67.819149,95.296296,89.510490,91.857426,99.01,84.382666,58.400696,66.470507
8,41.614161,91.820276,81.32,68.191489,95.666667,90.730200,91.984158,98.84,95.284819,58.873274,66.429130
9,39.783978,91.877880,81.82,68.882979,95.703704,91.624654,91.841584,98.76,94.467157,85.847531,67.325640
10,40.624062,92.165899,81.29,70.531915,94.759259,90.486258,91.885149,98.71,93.867539,85.300336,80.221599

transfer:  68.1
avg:  75.4
last:  83.6
transfer:  86.0 & 67.4 & 45.4 & 50.4 & 69.1 & 87.6 & 61.8 & 86.8 & 60.1 & 66.8
avg:  45.1 & 92.0 & 80.1 & 64.3 & 79.5 & 81.6 & 89.6 & 75.2 & 88.9 & 64.7 & 68.0
last:  40.6 & 92.2 & 81.3 & 70.5 & 94.8 & 90.5 & 91.9 & 98.7 & 93.9 & 85.3 & 80.2

## Table 10. Comparison of different methods on MTIL in Order II.

In [10]:
# Zero-shot
a = [24.3, 88.4, 0.0, 68.2, 44.6, 54.9, 71.0, 88.5, 59.4, 89.0, 64.7, 65.2]
a = np.array(a)
a = np.repeat(a[np.newaxis, :], 11, axis=0)
statistics(a, order=2)

      0     1     2     3     4     5     6     7     8     9     10
0   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
1   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
2   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
3   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
4   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
5   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
6   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
7   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
8   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
9   64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2
10  64.7  88.5  59.4  89.0  71.0  65.2  24.3  88.4  44.6  54.9  68.2

transfer:  65.4
avg:  65.3
last:  65.3
transfer:  88.5 & 59.4 & 89.0 & 71.0 & 65.2 & 24.3 & 88.4 & 44.6 & 54.9 & 68.2
avg:  64.7 & 88.5 & 59.4 & 89.0 & 71.0 & 65.2 & 24.3 & 88.4 & 44.6 & 54.9 & 68.2
last:  64.7 & 88.5 & 59.4 & 89.0 & 71.0 & 65.2 & 24.3 & 88.4 & 44.6 & 54.9 & 68.2

In [11]:
# CL
visualize("./exp_app_000.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,90.100734,85.944554,62.31,84.246389,65.018702,63.776378,18.331833,88.479263,42.872340,40.574074,66.56
1,87.899515,92.732673,56.86,80.348869,60.676533,64.484392,15.751575,87.384793,40.478723,42.074074,64.52
2,4.775525,2.704950,99.60,9.212319,3.252561,12.684474,2.070207,20.794931,5.265957,17.240741,2.01
3,60.241264,80.784158,99.46,93.349687,31.127013,44.112914,6.570657,70.967742,25.638298,19.407407,25.78
4,65.128715,79.809901,99.52,92.940856,95.739145,48.448347,10.111011,72.177419,31.223404,22.944444,28.08
5,71.110558,86.645545,99.53,93.213410,88.973817,81.807733,13.651365,85.944700,39.680851,28.555556,48.24
6,24.984455,68.871287,99.41,88.798038,63.343633,71.615098,60.666067,64.400922,29.840426,29.611111,35.92
7,10.396717,74.158416,99.43,86.072499,46.836884,67.615282,18.121812,94.873272,28.936170,21.129630,44.14
8,12.287029,70.265347,99.52,84.110112,54.838185,65.128040,20.912091,92.857143,76.489362,17.518519,32.79
9,11.901505,66.605941,99.42,80.948487,45.145552,63.394786,21.872187,90.956221,69.308511,98.833333,29.12
10,23.964681,67.310891,99.08,87.353502,44.251098,66.953244,29.492949,92.338710,61.276596,81.018519,88.08

transfer:  46.6
avg:  56.2
last:  67.4
transfer:  85.9 & 59.6 & 57.9 & 40.0 & 46.7 & 11.1 & 70.0 & 30.5 & 26.6 & 37.7
avg:  42.1 & 70.5 & 92.2 & 80.1 & 54.5 & 59.1 & 19.8 & 78.3 & 41.0 & 38.1 & 42.3
last:  24.0 & 67.3 & 99.1 & 87.4 & 44.3 & 67.0 & 29.5 & 92.3 & 61.3 & 81.0 & 88.1

In [13]:
# LwF
visualize("./t9_2.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,87.638353,87.821782,60.93,85.418370,67.474386,66.484300,18.451845,89.170507,45.478723,52.222222,67.58
1,86.183311,92.530693,56.16,86.154265,65.197593,67.950899,17.251725,89.055300,43.989362,48.574074,66.59
2,25.320234,47.837624,99.68,43.990188,17.108473,42.379661,3.930393,69.585253,23.191489,22.814815,29.32
3,49.745057,77.394059,99.57,94.385391,36.688893,53.827410,9.720972,78.398618,30.478723,18.888889,36.35
4,57.331178,78.982178,99.51,93.922050,95.202472,55.831916,12.451245,82.200461,28.244681,16.444444,36.39
5,60.863077,85.097030,99.58,93.513219,92.014962,81.564066,15.241524,85.714286,36.648936,29.611111,50.12
6,35.891058,76.855446,99.44,90.160807,82.273540,75.279298,30.783078,75.979263,32.765957,41.981481,45.05
7,35.281681,78.590099,99.48,90.351594,75.963571,76.322928,26.162616,91.993088,35.000000,42.462963,47.91
8,37.520209,79.081188,99.49,89.479422,75.329322,75.077008,30.843084,91.071429,76.276596,37.851852,45.19
9,28.914314,73.219802,99.51,88.716271,63.668889,72.355294,32.433243,90.552995,72.553191,98.648148,43.45
10,34.610123,69.592079,99.33,88.716271,61.099366,72.543791,32.523252,88.133641,65.585106,90.925926,87.93

transfer:  53.2
avg:  62.2
last:  71.9
transfer:  87.8 & 58.5 & 71.9 & 46.6 & 57.3 & 12.8 & 81.4 & 34.5 & 34.5 & 46.8
avg:  49.0 & 77.0 & 92.1 & 85.9 & 66.5 & 67.2 & 20.9 & 84.7 & 44.6 & 45.5 & 50.5
last:  34.6 & 69.6 & 99.3 & 88.7 & 61.1 & 72.5 & 32.5 & 88.1 & 65.6 & 90.9 & 87.9

In [14]:
# iCaRL
visualize("./t9_3.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,86.954359,86.130693,54.56,88.171164,68.954302,65.445267,17.881788,89.516129,45.000000,49.074074,64.87
1,81.992290,92.970297,49.12,83.619515,66.222150,66.902671,17.911791,88.536866,41.648936,52.351852,67.20
2,16.403432,66.613861,99.63,31.071137,14.587738,36.481081,2.370237,65.725806,20.585106,12.314815,35.41
3,65.452058,87.504950,98.75,94.603434,51.748252,58.383523,6.660666,84.907834,33.191489,24.277778,49.49
4,73.921154,89.330693,96.31,93.785773,95.836721,62.300584,9.540954,86.981567,34.521277,36.703704,55.77
5,73.299341,89.841584,81.72,93.077133,89.266547,82.299664,11.911191,89.228111,40.212766,47.777778,62.87
6,0.497451,0.990099,9.80,2.725538,3.756708,0.510321,0.990099,0.979263,2.127660,10.777778,1.14
7,40.641711,80.071287,94.57,82.747343,61.310782,68.121006,14.161416,91.820276,32.021277,29.500000,46.56
8,44.273100,80.574257,85.35,84.818752,64.124248,69.932417,15.511551,93.145161,75.797872,31.111111,50.65
9,42.544460,79.774257,90.28,82.720087,59.814604,69.477265,15.511551,92.626728,70.159574,98.592593,46.98
10,46.001741,81.508911,91.33,82.774598,66.531143,72.166797,16.291629,91.647465,68.085106,83.240741,87.77

transfer:  50.9
avg:  56.9
last:  71.6
transfer:  86.1 & 51.8 & 67.6 & 50.4 & 57.9 & 11.0 & 72.3 & 31.2 & 32.7 & 48.1
avg:  52.0 & 75.9 & 77.4 & 74.6 & 58.4 & 59.3 & 11.7 & 79.6 & 42.1 & 43.2 & 51.7
last:  46.0 & 81.5 & 91.3 & 82.8 & 66.5 & 72.2 & 16.3 & 91.6 & 68.1 & 83.2 & 87.8

In [15]:
# LwF-VR
visualize("./t9_4.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,88.334784,88.249505,59.43,85.881712,68.759148,66.245230,19.741974,89.458525,45.904255,52.907407,69.06
1,86.693197,93.120792,54.54,84.600709,66.124573,67.509540,17.401740,88.940092,44.414894,47.833333,67.51
2,27.707997,52.649505,99.62,43.744890,23.516019,45.161142,3.510351,72.523041,23.457447,15.148148,30.98
3,54.097749,77.255446,99.52,93.894794,41.486421,53.960737,9.090909,80.241935,30.478723,17.074074,36.43
4,55.217013,80.043564,99.49,93.622240,95.397626,57.261735,12.181218,82.488479,30.691489,15.962963,35.98
5,62.815570,85.631683,99.54,93.540474,92.519109,81.770953,16.141614,85.253456,38.031915,31.055556,51.31
6,24.611367,75.825743,99.41,91.142001,74.223451,75.191945,22.622262,75.172811,30.425532,27.277778,43.81
7,23.355304,76.384158,99.42,89.806487,60.367539,76.203393,18.241824,90.783410,32.021277,28.722222,48.91
8,23.902500,76.063366,99.45,88.280185,59.521873,75.555147,21.392139,90.495392,75.638298,27.314815,48.16
9,19.437881,67.417822,99.42,87.680567,55.765165,74.070158,22.262226,90.034562,71.914894,98.685185,44.22
10,27.409526,61.192079,99.43,86.345053,60.578956,70.732380,23.432343,88.018433,61.276596,84.296296,88.11

transfer:  53.1
avg:  60.6
last:  68.3
transfer:  88.2 & 57.0 & 71.4 & 50.0 & 58.0 & 13.0 & 82.0 & 34.4 & 29.3 & 47.6
avg:  44.9 & 75.8 & 91.8 & 85.3 & 63.5 & 67.6 & 16.9 & 84.9 & 44.0 & 40.6 & 51.3
last:  27.4 & 61.2 & 99.4 & 86.3 & 60.6 & 70.7 & 23.4 & 88.0 & 61.3 & 84.3 & 88.1

In [16]:
# WiSE-FT
visualize("./t9_5.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,89.789827,87.203960,60.18,85.391115,67.864693,64.792423,20.942094,88.882488,44.308511,45.129630,66.21
1,87.961696,92.819802,54.93,83.237939,65.246382,65.684336,18.421842,87.788018,41.702128,44.388889,67.20
2,30.692700,43.073267,99.64,32.515672,12.001952,35.575376,3.360336,56.336406,17.712766,19.648148,11.01
3,67.006591,85.968317,99.58,94.031071,34.769881,49.680474,7.170717,78.456221,31.702128,23.425926,38.20
4,71.085686,85.481188,99.54,93.649496,95.690356,54.043492,11.221122,80.069124,35.744681,27.185185,41.05
5,69.779878,88.221782,99.58,92.995367,91.380712,81.830720,15.991599,87.615207,42.127660,32.611111,54.43
6,44.658625,78.233663,99.55,91.932407,75.622052,76.033286,61.056106,71.313364,34.680851,23.907407,43.02
7,28.404427,80.293069,99.55,88.171164,66.644983,74.024183,29.072907,93.778802,36.170213,23.240741,47.77
8,28.653153,78.645545,99.57,86.099755,65.587900,72.690911,30.513051,93.202765,76.648936,15.648148,38.74
9,25.444596,75.932673,99.49,85.472881,60.432591,70.589858,30.573057,92.223502,71.436170,98.703704,35.38
10,35.555279,76.914851,99.53,89.097847,62.123923,71.766815,27.752775,90.783410,66.968085,85.629630,87.61

transfer:  51.0
avg:  61.5
last:  72.2
transfer:  87.2 & 57.6 & 67.0 & 45.0 & 54.0 & 12.9 & 78.6 & 35.5 & 28.4 & 44.3
avg:  52.6 & 79.3 & 91.9 & 83.9 & 63.4 & 65.2 & 23.3 & 83.7 & 45.4 & 40.0 & 48.2
last:  35.6 & 76.9 & 99.5 & 89.1 & 62.1 & 71.8 & 27.8 & 90.8 & 67.0 & 85.6 & 87.6

In [17]:
# ZSCL*
visualize("./t9_6.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,88.931725,88.792079,63.38,86.290542,70.889576,65.105053,22.412241,88.594470,45.904255,55.555556,67.55
1,87.700535,92.966337,50.11,84.736986,67.474386,67.583100,20.282028,89.170507,44.468085,53.314815,67.75
2,64.531775,87.663366,99.57,55.355683,37.160514,54.962990,6.270627,84.389401,36.648936,39.648148,61.97
3,78.074866,90.483168,99.55,94.630690,59.570662,60.806400,12.661266,87.096774,39.148936,47.777778,66.33
4,80.226340,90.815842,99.55,94.221859,97.593105,63.822353,16.561656,88.248848,41.329787,45.981481,68.23
5,80.748663,91.045545,99.50,93.704007,96.243292,81.936463,18.481848,89.228111,45.478723,49.925926,69.06
6,60.502425,88.138614,99.46,90.842191,87.445113,78.189509,63.906391,81.970046,40.425532,36.277778,63.47
7,62.442482,89.196040,99.45,91.223767,87.770369,78.823962,56.645665,92.626728,42.606383,34.777778,66.43
8,64.991916,89.378218,99.46,91.523576,90.356155,78.925107,57.065707,92.569124,78.404255,33.185185,66.47
9,60.017411,89.160396,99.43,91.605342,87.819158,78.511333,56.405641,92.453917,76.489362,98.685185,67.52
10,63.536874,89.623762,99.20,92.368493,84.452757,78.336628,55.205521,92.396313,74.627660,97.388889,88.64

transfer:  59.8
avg:  71.8
last:  83.3
transfer:  88.8 & 56.7 & 75.5 & 58.8 & 62.5 & 16.1 & 87.0 & 42.0 & 44.0 & 66.5
avg:  72.0 & 89.8 & 91.7 & 87.9 & 78.8 & 71.5 & 35.1 & 89.0 & 51.4 & 53.9 & 68.5
last:  63.5 & 89.6 & 99.2 & 92.4 & 84.5 & 78.3 & 55.2 & 92.4 & 74.6 & 97.4 & 88.6

In [18]:
# ZSCL
visualize("./t9_7.npy", order=2)

,0,1,2,3,4,5,6,7,8,9,10
0,85.660987,88.332673,60.05,86.672118,70.580582,64.663694,23.042304,88.421659,45.106383,56.462963,67.64
1,85.835095,92.388119,55.00,85.745435,68.645308,65.624569,21.692169,88.709677,45.478723,55.629630,67.68
2,84.243253,91.829703,98.96,81.575361,65.148805,64.263712,20.432043,88.133641,44.946809,53.796296,67.05
3,83.745803,91.928713,98.84,95.175797,68.059847,64.539561,20.312031,88.536866,44.202128,56.518519,68.62
4,82.539485,91.821782,98.75,94.576179,96.031875,65.040688,20.072007,88.479263,44.734043,55.240741,68.34
5,82.626539,91.762376,98.65,94.221859,94.080338,80.290561,21.002100,89.055300,46.489362,57.685185,69.04
6,78.870787,91.259406,98.55,92.995367,91.039193,79.053837,55.445545,86.347926,45.691489,53.555556,66.76
7,78.883223,91.354455,98.47,92.995367,90.551309,78.828560,47.974797,92.338710,45.904255,54.166667,68.84
8,79.318493,91.097030,98.43,92.095939,90.974142,78.525125,47.944794,92.165899,76.914894,53.425926,68.89
9,78.485263,90.914851,98.36,92.341237,89.786957,78.230886,46.594659,92.108295,74.680851,97.814815,69.45
10,78.224101,91.140594,97.56,92.532025,87.428850,78.249276,45.034503,92.338710,72.659574,96.185185,86.30

transfer:  64.2
avg:  74.5
last:  83.4
transfer:  88.3 & 57.5 & 84.7 & 68.1 & 64.8 & 21.1 & 88.2 & 45.3 & 55.2 & 68.2
avg:  81.7 & 91.3 & 91.1 & 91.0 & 82.9 & 72.5 & 33.6 & 89.7 & 53.3 & 62.8 & 69.9
last:  78.2 & 91.1 & 97.6 & 92.5 & 87.4 & 78.2 & 45.0 & 92.3 & 72.7 & 96.2 & 86.3